
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333 ;
}

.container{
    position: absolute;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .spinBtn{
    position: absolute;
    width:60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.1em;
    border: 4px solid rgba(0,0,0,0.75);
}

.container .spinBtn::before{
    content: '';
    position: absolute;
    top: -28px;
    width: 20px;
    height: 30px;
    background: #424242;
    clip-path: polygon(50% 0%, 15% 100%, 85% 100%);

}

.container .wheel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px #333, 
    0 0 0 15px #fff,  0 0 0 18px #111;
    
}


.container .wheel .number{
    transform:rotate(calc(45deg * var(--i)));
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
    transform-origin: bottom right;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
   clip-path: polygon(0 0, 56% 0, 100% 100%, 0 56%);


}

.container .wheel .number span{
    position: relative;
    transform: rotate(45deg);
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    text-shadow: 3px 5px 2px rgba(0,0,0,0.15);
}

.number p{
    font-size: 24px;
    z-index: 0; 
    transform: rotate(-90deg);
    position: absolute;
    top: 100px;
    left: 180px;
    }

.transiton{
    /*transition: transform 4.5s ease-in-out;*/
}

/*Animation to have the wheel moving*/
.wheel-anim{
    animation: SpinWheel 100s ease-in normal infinite forwards  ;
}
@keyframes SpinWheel {
    
  
      to {
        transform: rotate(3600deg);
      }
    }

    .wheel-anim2{
        animation: SpinWheel2 100s ease-in normal infinite forwards  ;
    }
    @keyframes SpinWheel2 {
        
      
          to {
            transform: rotate(3600deg);
          }
        }
/*Animation to have the wheel moving*/


